html, body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
.Scroll{
     
    overflow-y: auto;
    overflow-x: auto;
}
table{
    font-size: 20px;
    line-height: 25px;
    border: 2px solid black;
    margin-left: auto; 
	margin-right: 30px;
    margin-top: 100px;
    text-align:center;
    border-collapse: collapse;
    width: 95%;
    height: 40%;
}
p.right{
    color: white;
    line-height: 40px;
    width: 250px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 0px;
    text-align: left;
    background-color:red;
}
.left{
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  hr.head{
    color: red ;
    border: 4px solid red;
    background-color:red;
    width:80%
  }
.C {
    margin-top: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding-left:10%;
}

.header {
    background-color:red;
    padding:25px;
}

#list td, #list th {
    border: 1px solid black;
    padding: 8px;
}

#list tr:nth-child(even){background-color: #f2f2f2;}

#list tr:hover {background-color: #ddd;}